:root {
  --mainColor: rgb(226, 223, 223);
  --secColor: #4a5fc1;
  --thrdColor: rgb(15 116 143 /70%);
  --forthColor: #564c26;
  --backColor: #ffffff;
  /* --backColor: #dcdcdc; */
  --transparent-color: rgb(15 116 143 /70%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  /* font-family: "Open Sans", sans-ser !important; */
  font-family: "Roboto", sans-serif !important;
  background-color: var(--backColor) !important;
}
ul {
  list-style: none;
}
.fit{
  width: fit-content !important;
}
a{
  text-decoration: none !important;
}

.text-main{
  color: var(--mainColor);
}

/*___________________________Start__Login____________________*/
.loginPage{
            /* background: linear-gradient(323deg, rgb(1 86 137) 0%, rgb(0 0 0) 47%, rgb(50 33 33) 100%); */
      background: url("https://img.freepik.com/premium-photo/shopping-cart-black-background_726745-6750.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
      width: 100%;
  
}
.login{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
      padding: 3rem!important;
           background: linear-gradient(323deg, rgb(1 86 137 / 29%) 0%, rgb(0 0 0) 47%, rgb(50 33 33 / 47%) 100%);
  }

.divInput{
  border-bottom: 2px solid rgb(226, 223, 223);
  color:rgb(226, 223, 223) ;
  font-size: larger;
}
.loginText{
  color: rgb(226, 223, 223); 
  margin: 15px 0;
}

.logInInput{
  border: none;
    background-color: transparent;
    padding: 10px;
    color: rgb(226, 223, 223);
}
.logInInput::placeholder{
  color: rgb(226, 223, 223);
}
.logInInput:focus{
  outline: none;
}
.loginBtn{
      width: 280px;
    height: 40px;
  color: rgb(226, 223, 223);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: linear-gradient(294deg, rgb(0 0 0) 0%, rgb(0 0 0 / 23%) 47%, rgb(0 0 0) 100%);}
.loginBtn:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/*___________________________End__Login____________________*/
/*___________________________Start__Side Bar____________________*/

.navBar{
        background: rgb(0, 0, 32);
    height: 100%;
    display: flex;
    color: var(--mainColor);

}
.navBar2{
        background: rgb(1, 1, 56);
    height: 100%;
    display: flex;
    color: var(--mainColor);

}

.navItem{
      display: flex;
    gap: 1px;
    align-items: center;
    width: 100%;
    
}
.navItem:hover,.navItem a:hover{
  color: goldenrod;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;

}
.active{
  color: goldenrod !important;
  border-bottom: 1px solid;
}

.navItem a{
  color: var(--mainColor);
  width: 100%;
    text-align: center;
}
.search{
    width: 50rem;
    padding: 0.5rem;
    border-radius: 2rem;
}
.search:focus{
  outline: none;
}


/*___________________________End__Side Bar____________________*/
/*___________________________Start__Table____________________*/
.DataTable{
  overflow-x: auto;
}
/*___________________________End__Table____________________*/
/*___________________________Start__User____________________*/
.userInput{
  padding: 10px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;

}
/*___________________________End__User____________________*/
/*___________________________Start__Slider____________________*/
.each-slide {
  display: flex;
  width: 100%;
  height: 400px;
}

.each-slide>div {
  width: 75%;
}

.each-slide>div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.each-slide p {
  width: 25%;
  font-size: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
/*___________________________End__Slider____________________*/
/*___________________________Start__Product____________________*/
.prodCard{
  color: black !important;
  overflow: hidden;

}
.prodCard img{
  transition: all 0.5s ;
  -webkit-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
  -ms-transition: all 0.5s ;
  -o-transition: all 0.5s ;
}
.prodCard:hover img{
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
}
.cName{
   text-overflow: ellipsis;
    overflow: hidden;
     height: 5rem;
}

/*___________________________End__Product____________________*/
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
  
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.271);
}

::-webkit-scrollbar-thumb {
  background: #01012b
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hideNav{
  display: none !important;
}
.click{
  cursor: pointer !important;
}
#upload-photo {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 0px;
}
.skeleton{
    width: 20rem;
    height: 12rem;
    background-color: #dddddd;
    margin: 20px;
    animation: skeleton 2s infinite;
    -webkit-animation: skeleton 2s infinite;
}
@keyframes skeleton {
  0%   {background-color: #dddddd;}
  50%  {background-color: #989898;}
  100% {background-color: #dddddd;}
}

@media (max-width: 576px) {
   
   .userInput{
    width: 50% !important;

   }
  }
@media (max-width: 1015px) {
   
    .search{
      width: 30rem;
    }
}
@media (max-width: 851px) {
   .hideNav{
    display: block !important;
   }
    .show{
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
    } 
    .navBar{
      flex-direction: column;
    }
    .navItem{
      display: none ;
    }
    .hide{
      display: flex ;
      margin: 1.3rem 0;
    }
    .search{
      width: 20rem;
    }
    .navBar2{
      flex-direction: column;
    }
}
